<!DOCTYPE html>
<html>
  <head>
    <title> Theme Parser </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <div class="wrapper">
      <div id="container">
        <ul id="links">
          <li class="link">Hello</li>
        </ul>
      </div>
    </div>  
    <script src="js/jquery-2.1.3.min.js"></script>
    <script>
      $(document).on('ready', function() {
        setInterval(function() {
  </body>
</html>